{% extends 'customer.html' %}

{% block content %}
    <h2>Request Credit Card</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.cardholder_name.label }} {{ form.cardholder_name(size=100) }}<br>
        {{ form.cardholder_address.label }} {{ form.cardholder_address(size=100) }}<br>
        {{ form.cardholder_dob.label }} {{ form.cardholder_dob(size=10) }}<br>
        {% if form.cardholder_dob.errors %}
    <ul class="errors">
    {% for error in form.cardholder_dob.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}

        {{ form.submit() }}
    </form>
{% endblock %}